<html lang="en">
  <head>
      <meta charset="utf-8">
        <title>jQuery UI Button - Default functionality</title>
          <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
            <script src="//code.jquery.com/jquery-1.10.2.js"></script>
              <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
                <link rel="stylesheet" href="/resources/demos/style.css">
                  <script>
  $(function() {
    $("#1" )
      .button()
        .click(function( event ) {
            $.post("/1", {name:"donald", genera: "duck"});});
          });
  $(function() {
    $("#2" )
      .button()
        .click(function( event ) {
            $.post("/2", {name:"donald", genera: "duck"}, function(response, status)
                {
                    console.log(response.hello);
                });}
                
              );
          });
  $(function() {
    $("#3" )
      .button()
        .click(function( event ) {
            $.post("/3", {name:"donald", genera: "duck"});});
          });
  </script>
  </head>

  <body>


<h1>Toggle LEDs!</h1>




     
    <button id="1">LED 1</button>
    <button id="2">LED 2</button>
    <button id="3">LED 3</button>
    <p id=response"></p>
     
     
     
  </body>
</html>
